[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-ckeditor = "*"
flask-mail = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-moment = "*"
python-dotenv = "*"
bootstrap-flask = "*"
flask-login = "*"
flask-debugtoolbar = "*"
gunicorn = "*"
flask-migrate = "*"
psycopg2 = "*"
pymysql = "*"
faker = "*"

[requires]
python_version = "3.6"
