{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_field%}
{% block content %}
    {% if article %}
        <div class="list-group-item list-group-flush list-group-item-action">
            <div class="list-group-header d-flex justify-content-between">{{ article.title }}
                <p>{{ article.category.name }}</p>
                <p data-toggle="tooltip" data-placement="top" data-delay="500"
                   data-timestamp="{{ article.timestamp.strftime('%Y-%m-%dT%H:%M:%SZ') }}">
                    {{ moment(article.timestamp).fromNow(refresh=True) }}</p>
            </div>
            <h5>{{ article.body|striptags }}</h5>
            <div>
                <form method="get" action="{{ url_for('.edit_article',article_id=article.id) }}">
                    {{ edit.csrf_token }}
                    {{ render_field(edit.submit, class='btn btn-outline-info float-left mr-3') }}
                </form>
                <form method="post" action="{{ url_for('.delete_article',article_id=article.id) }}">
                    {{ delete.csrf_token }}
                    {{ render_field(delete.submit, class='btn btn-outline-info') }}
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}