{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/pagination.html' import render_pager %}
{% block signature %}
    {% if current_user.is_authenticated %}
        zhangx258
    {% endif %}
{% endblock %}
{% block content %}
    {% if articles %}
    <div class="list-group w-100">
        {% for article in articles %}
            <div class="list-group-item list-group-flush list-group-item-action">
            <div class="d-flex justify-content-between">
                <a href="{{ url_for('.show_article', article_id=article.id) }}">{{ article.title }}</a>
                <span>{{ article.timestamp }}</span>
            </div>
            <h5>{{ article.body|striptags|truncate }}</h5>
            </div>
        {% endfor %}
    </div>
    <div class="page-footer">{{ render_pager(pagination) }}</div>
    {% endif %}
{% endblock %}